/* 待办 */
.list {
    width: 200px;
    height: 300px;
    background-color: #f1c40f;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    margin: 5px 0;
}